@model List<TaskItem>


<h2>Tasks</h2>
    <ul>
        @foreach (TaskItem task in Model) {
        <li>
            <div>
                <a asp-action="Details" asp-route-id="@task.Id">@task.Title</a>
            </div>
            @*<div>@task.Title</div>*@
            @*@if (task.AssignedUser != null) {
                <div>@task.AssignedUser.FirstName</div>
            }*@
        </li>
        }
    </ul>
    <div>
        <a class="btn btn-default" asp-action="Create" asp-route-id="@Task.CurrentId">Create New Task</a>
    </div>
